body {
  background-color: #F7F7F7;
  font-family: 'Gudea', sans-serif;
  text-align: center; 
}

.navbar-inverse {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #F7F7F7;
}

.page-wrapper {
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}

#new-page {
  color: gray;
  padding-top: 200px;
/*  padding-bottom: 200px;
*/}

.font-150 {
  font-size: 150px;
}

#helloworld {
  padding-top: 150px;
}



/*SKILLS*/

#skillspage {}


/*ABOUT ME*/

#aboutmepage {}


/*PROJECTS*/

#projectspage > div > div > img {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

h4 > a {
  color: black;
}

h4 > a:hover {
  color: #FF3800;
  text-decoration: none;
}

#granth > img:hover { 
  opacity: 0.5;
}


/*EDUCATION*/

#page4 {
  background-color: rgba(81, 84, 84, 0.3);
  padding-top: 50px;
  padding-bottom: 50px;
}

/*CONTACT*/

#contactpage  > a > img {
  width: 5%;
  height: auto;
  padding-bottom: 50px;
}

/*#contactpage > div.col-sm-12 > a > img {
  width: 8%;
  height: auto;
}*/











