body {
  background-color: #F7F7F7;
  font-family: 'Oswald', sans-serif;
  text-align: center; 
}

.parallax-window {
  min-height: 700px;
}

/*JUMBOTRON*/

/*this is the jumbotron picture*/
#jumbo {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1441105501384-23156f198d37?q=80&fm=jpg&s=62c00ede8fd1a7591c0712a0c59095a4);
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  margin-bottom: -30;
}


