body {
  background-color: #ECF0F1;
  font-family: 'Gudea', sans-serif;
  text-align: center; 
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #E74C3C;
}

.navbar-inverse {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ECF0F1;
}

/*.jumbotron {
  padding-bottom: 0px !important;
}*/

.mainindex .jumbotron {
  color: #ECF0F1;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.otherindex .jumbotron {
  background-color: #2C3E50; 
  color: #ECF0F1;
  padding-top: 150px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

.orange {
  color: #E74C3C;
}

/*doesn't go full page width*/
.page-wrapper {
  background-color: #ECF0F1;
}

/*new section on each page*/
#new-section {
  color: #4c4c4c;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}

.tomiddle {
  padding: 10px 10px 10px 10px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;

}


.page-wrapper-gray {
  background-color: #e5e5e5;
}

#new-section-gray {
  color: #4c4c4c;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}

.font-150 {
  font-size: 150px;
}

#helloworld {
  background:url(maps.jpeg) no-repeat center center fixed; ;
/*  background: url(images/bg.jpg) 
*/  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

#helloworld {
  color: #2980B9;
}

hr {
    border-top: 1px solid #4c4c4c;
}

p {
  font-size: 18px;
}


/*SKILLS*/
#skillspage {

}

.iconimage img {
  width: 100px;
  padding-bottom: 20px;
}


/*ABOUT ME*/
#aboutmepage {}


/*PROJECTS*/
#projectspage > div > div > img {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

#report > img {
  width: 50%;
  height: auto;
  padding-bottom: 50px;
}

#mts  > img {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

a {
  color: #2980B9;
}

a:hover {
  color: #E74C3C;
  text-decoration: none;
}

#granth > img:hover { 
  opacity: 0.5;
}




/*EDUCATION*/

#page4 {
  background-color: rgba(81, 84, 84, 0.3);
  padding-top: 50px;
  padding-bottom: 50px;
}

/*CONTACT*/

#contactpage  > a > img {
  width: 5%;
  height: auto;
  padding-bottom: 50px;
}

/*#contactpage > div.col-sm-12 > a > img {
  width: 8%;
  height: auto;
}*/











