/************** OVERALL CSS ******************/
body {
  background-color: #ECF0F1;
  font-family: 'Gudea', sans-serif;
  text-align: center; 
}

hr {
    border-top: 1px solid #4c4c4c;
}

p {
  font-size: 18px;
}

a {
  color: #E74C3C;
}

a:hover {
  color: #2980B9;
  text-decoration: none;
}

.emphasizedtext {
  font-weight: bold;
  color: #002F2F;
}

.yellow {
  color: #DEB216;
}

.orange {
  color: #E74C3C;
}

.font-150 {
  font-size: 150px;
}

.pb50 {
  padding-bottom: 50px;
}


/************** NAVBAR ******************/
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #E74C3C;
}

.navbar-inverse {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ECF0F1;
}


/************** JUMBOTRON HEADER ******************/
.mainindex .jumbotron {
  color: #ECF0F1;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.devindex .jumbotron {
  background-color: #3498DB; 
  color: #ECF0F1;
  padding-top: 150px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

.designindex .jumbotron {
  background-color: #E74C3C; 
  color: #ECF0F1;
  padding-top: 150px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

.detailindex .jumbotron {
  background-color: #2C3E50; 
  color: #ECF0F1;
  padding-top: 150px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}


/************** PAGE WRAPPER ******************/

/*doesn't go full page width*/
#new-section {
  color: #4c4c4c;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}

.page-wrapper {
  background-color: #ECF0F1;
}

/*doesn't go full page width*/
#new-section-gray {
  color: #4c4c4c;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}

.page-wrapper-gray {
  background-color: #f9f9f9;
}

/*doesn't go full page width*/
#new-section-white {
  color: #4c4c4c;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}

.page-wrapper-white {
  background-color: #ffffff;
}


/************** SKILLS PAGE ******************/

/*doesn't go full page width*/
#new-section-pattern {
  color: #4c4c4c;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}

.page-wrapper-pattern {
  background: url(../images/index/pattern.jpeg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#skillspage {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ECF0F1;
}


/************** CASE STUDY TEXT ******************/
.casestudytext {
  text-align: left;
}

.casestudytext h3 {
  color: #E74C3C;
}

.casestudytext h4 {
  color: #3498DB;
  margin-top: 15px;
}

.casestudytext p {
  font-size: 16px;
  color: #333333;
}

.casestudytext li {
  font-size: 16px;
}

.casestudytext .width-image {
  text-align: center;
}

.casestudytext .width-image img {
  max-width:100%;
  max-height:100%;
}

.casestudytext .height-image img {
  max-width:100%;
  max-height:100%;
}


/**************  MAIN INDEX ******************/
#helloworld {
  background: url(../maps.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

#helloworld {
  color: #666666;
}

.tomiddle {
  padding: 10px 10px 10px 10px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}

.skillsicon img {
  width: 100px;
  padding-bottom: 20px;
}


/************** DEVELOPER INDEX | PROJECTS ******************/
#projectspage > div > div > img {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

#smartzip {
  border-bottom: 2px solid #777777;
  margin-bottom: 50px;
}



/************** DESIGNER INDEX | PROJECTS ******************/
#report > img {
  width: 50%;
  height: auto;
  padding-bottom: 50px;
}

#mts  > img {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}


/************** CONTACT PAGE ******************/
#contactpage  > a > img {
  width: 5%;
  height: auto;
  padding-bottom: 50px;
}


/************** TEXT BOX ON PICTURE  ******************/
#blogdiv {
   width: auto; 
   height: 300px;
}

#blogdiv img {
   height: 100%;
   width: 100%;
}

.overlayblogtext {
  margin: 0 auto;
  padding: 15px;
  max-width: 400px;
  bottom: 70px;
  z-index: 1;
  background: #ffffff;
  position: relative;
}

.overlayblogtext button {
  padding: 5px 10px 5px 10px;
  background-color: transparent;
  border: 1px solid #E74C3C;
  font-size: 18px;
  color: #E74C3C;
  min-width: 100px;
}

.overlayblogtext button:hover {
  background-color: #E74C3C;
  border: 3px solid #E74C3C;
  color: #ffffff;
}

.overlayblogtext button:hover a {
  color: #ffffff;
}


/************** NOT USED CSS | OVERLAY ******************/
div.latestcasestudy {
  background: url(../images/designer/mts/alejandra_closed_sort.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  right: 10px;
  padding: 0px; 
}

div.latestwriting {
  background: url(../images/writer/blogsfac.jpg) repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 10px;
  padding: 0px;
}

div.transbox {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
  opacity: 0.7;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox h3 {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

div.transbox button {
  padding: 15px 30px 15px 30px;
  background-color: #ECF0F1;
  border: 3px solid #E74C3C;
  font-size: 18px;
  font-weight: bold;
  color: #E74C3C;
  min-width: 250px;
}

div.transbox button:hover {
  background-color: #E74C3C;
  border: 3px solid #E74C3C;
  color: #ECF0F1;
}












