/************** OVERALL CSS ******************/
body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-align: center; 
}

hr {
    border-top: 1px solid #4c4c4c;
}

p {
  font-size: 18px;
}

a {
  color: #E21505;
}

a:hover {
  color: #6ABBC7;
  text-decoration: none;
}

.emphasizedtext {
  font-style: italic;
  padding-left: 15px;
  margin-left: 50px;
  border-left: 1px solid #333333;
}

.red {
  color: #E21505;
}

.first-blue {
  color: #3498DB;
}

.pb50 {
  padding-bottom: 50px;
}


/************** NAVBAR ******************/
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a {
  color: #333333;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #E21505;
}

.navbar-default .navbar-brand {
  color: #333333;
}

.indexNav .navbar-default .navbar-brand {
  color: #333333;
  display: none;
}

.navbar-default .navbar-brand:hover {
  color: #E21505;
}

.navbar-default {
  background-color: #ffffff;
  border: none;
}

.navbar-right {
  margin-right: 0px;
}

.highlighted {
  font-weight: bold;
  color: #000000;
}


/************** JUMBOTRON HEADER ******************/
.mainindex .jumbotron {
  background-color: #FFFFFF;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.devindex .jumbotron {
  background-color: #333333; 
  color: #ffffff;
  padding-top: 150px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

.designindex .jumbotron {
  background-color: #333333; 
  color: #ffffff;
  padding-top: 150px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

.writingindex .jumbotron {
  background-color: #333333; 
  color: #ffffff;
  padding-top: 150px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

.detailindex .jumbotron {
  background-color: #333333; 
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-bottom: 0px;
}


/************** PAGE WRAPPER ******************/

/*doesn't go full page width*/
.page-wrapper {
  background-color: #ECF0F1;
}
#new-section {
  color: #616161;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}


/*GRAY - doesn't go full page width*/
.page-wrapper-gray {
  background-color: #f9f9f9;
}
#new-section-gray {
  color: #616161;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}
/*doesn't go full page width*/
#new-section-gray-notp {
  color: #616161;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}


/*WHITE -doesn't go full page width*/
.page-wrapper-white {
  background-color: #ffffff;
}
#new-section-white {
  color: #616161;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}
/*doesn't go full page width*/
#new-section-white-notp {
  color: #616161;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}


/*BLACK -doesn't go full page width*/
.page-wrapper-black {
  background-color: #333333;
}
#new-section-black {
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
  font-size: 18px;
}


/*LIGHTBLACK -doesn't go full page width*/
.page-wrapper-lightblack {
  background-color: #616161;
}
#new-section-lightblack {
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
  font-size: 18px;
}



/************** SKILLS PAGE ******************/

/*LIGHTBLACK - SKILLS HEADER*/
#new-section-lightblack h2 {
  color: #ffffff;
}

.skillicons {
  padding-bottom: 50px;
}

#skillspage {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ECF0F1;
}

#skillspage h4 {
  color: #333333;
}

/*doesn't go full page width*/
#new-section-pattern {
  color: #616161;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}

.page-wrapper-pattern {
  background: url(../images/index/pattern.jpeg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#new-section-code {
  color: #616161;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}

.page-wrapper-code {
  background: url(../images/code.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#new-section-design {
  color: #616161;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}

.page-wrapper-design {
  background: url(../images/design.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/************** CASE STUDY INDEX ******************/

.casestudyindex #white {
  background-color: #FFFFFF; 
  padding-top: 100px;
  padding-bottom: 0px;
  color: #333333;
  margin-bottom: 0px;
}

.casestudyindex #headerpicture {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.casestudyindex #headerpicture img {
  width: 100%;
}

.casestudyindex .jumbotron {
  margin-bottom: 0px;
}

.casestudyindex #blueoffwhite {
  background-color: #f9f9f9; 
  color: #6ABBC7;
}

.casestudyindex #blue{
  background-color: #FFFFFF; 
  color: #6ABBC7;
  padding-top: 100px;
  margin-bottom: 0px;
}

/************** CASE STUDY IMAGES ******************/

.casestudytext .width-image img {
  max-width:100%;
  max-height:100%;
}

.casestudytext .width-image {
  text-align: center;
}

.casestudytext .width-image img {
  max-width:100%;
  max-height:100%;
}

.casestudytext .height-image img {
  max-width:100%;
  max-height:50%;
}

.casestudytext img {
    max-width: 100%;
    max-height: 100%;
}

.casestudytext .portrait {
    height: 800px;
    width: 300px;
}

.casestudytext .landscape {
    height: 300px;
    width: 800px;
}

.casestudytext .square {
    height: 500px;
    width: 500px;
}

/************** CASE STUDY TEXT ******************/

.casestudytext {
  text-align: left;
}

.casestudytext h3 {
  text-transform: lowercase;
  color: #E21505;
}

.casestudytext h4 {
  text-transform: uppercase;
  color: #6ABBC7;
  margin-top: 15px;
}

.casestudytext p {
  font-size: 18px;
  color: #333333;
}

.casestudytext .paragraph {
  padding-bottom: 50px;
}

.casestudytext .paragraph  h3 {
  padding-top: 50px;
}

.casestudytext li {
  font-size: 18px;
  color: #333333;
}


/**************  MAIN INDEX ******************/
#helloworld {
  background-color: #ffffff
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  color: #000000;
}

#helloworld .header {
  font-size: 48px;
  letter-spacing: 10px;
}

#helloworld .description {
  color: #616161;
 
}

.tomiddle {
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  max-width: 990px;
  margin: 0 auto;
  width: 100%;
}

/*LIGHTBLACK - MATERIAL ICONS HEADER*/
#new-section-lightblack .material-icons {
  font-size: 60px;
}


/************** DEVELOPER INDEX | PROJECTS ******************/
#projectspage > div > div > img {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}


/************** DESIGNER INDEX | PROJECTS ******************/
#report > img {
  width: 60%;
  height: auto;
  padding-bottom: 100px;
}

#mts  > img {
  width: 80%;
  height: auto;
  padding-bottom: 100px;
}

#sfac  > img {
  width: 80%;
  height: auto;
  padding-bottom: 100px;
}

#moodcoach > img {
  width: 100%;
  height: 50%;
  padding-bottom: 100px;
}



/************** CONTACT PAGE ******************/
.contactpage {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #333333;
}

.contactpage a  {
  font-size: 18px;
  width: 5%;
  height: auto;
}

.contactpage h2 {
  color: #ffffff !important;
  font-size: 18px;
}


/************** TEXT BOX ON PICTURE  ******************/
#blogdiv {
   max-width: 500px; 
   height: 250px;
}

#blogdiv img {
   height: auto;
   width: 100%;
}

.overlayblogtext {
  margin: 0 auto;
  padding: 15px;
  max-width: 400px;
  bottom: 30px;
  z-index: 1;
  background: #ffffff;
  position: relative;
}

.overlayblogtext button {
  padding: 5px 10px 5px 10px;
  background-color: transparent;
  border: 1px solid #E21505;
  font-size: 18px;
  color: #E21505;
  min-width: 100px;
}

.overlayblogtext button:hover {
  background-color: #E21505;
  border: 3px solid #E21505;
  color: #ffffff;
}

.overlayblogtext button:hover a {
  color: #ffffff;
}














